*{
    margin: 0;
    padding: 0;
}

a, a:hover{
    color: black
}

.menu-icon{
    width: 45px;
    background: white;
    border-radius: 5px;
    padding: 10px;
}

.menu-icon:hover{
    box-shadow: lightgrey 0 0 3px 3px;
}

